<!DOCTYPE html>
<html>
  <head>
    <title>GoodLivres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.logoURL = "<%= image_url('goodReadsLogo.png') %>"
        window.backgroundURL = "<%= image_url('background.jpg') %>"
        window.sloganURL = "<%= image_url('slogan.png') %>"
        
  </script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
